<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::page(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
 <section>
  <div class="container">
    <h1 class="text-center mb-4">QUICKMPAY</h1>
    <h2>ये काम कैसे करता है :-</h2>
    <p>ये एक कम्पनी है जो हर दिन 500 करोड़ से ज़्यादा का USDT ख़रीदता है आप इसको अपनी USDT बेच के पैसे कमा सकते हैं</p>

    <h2>हम इससे पैसे कैसे कमा सकते हैं? :-</h2>
    <p>इसमें हमको USDT पहले इन्वेस्ट करना होगा मान लीजिये आपने 10000 इन्वेस्ट किया है तो आपने किस टाइप के अकाउंट में इन्वेस्ट किया हैं उसके हिसाब से आपको प्रोफ़िट होगा इसमें प्रोफ़िट 0.50% se लेके 5% तक प्रोफ़िट है</p>

    <h3>इसके लिये हमारे पास तीन तरीक़े हैं</h3>
    <ol>
      <li><strong>SAFE ACCOUNT:</strong>
        <ul>
          <li>इसमें आपको 1% से 2% के बीच में प्रोफ़िट होगा जो आपने पैसे लगाये और जो भी प्रोफ़िट होगा हम प्रयास करेंगे की हम आपको 1 घंटे में आपके बैंक accounte में क्रेडिट करदे इसमें पेमेंट आपने में टाईम भी लग सकता है अगर आपको बहुत जल्दी पैसे रिटर्न चाहिये तो आप सेफ़ अकाउंट में या रिस्की अकाउंट की और जा सकते हैं </li>
          <li>इसमें आपको पेमेंट 100% सेफ़ मिलेगा इससे आपके बैंक अकाउंट में कभी भी कोई साइबर कम्प्लेंट नहीं आयेगी और न ही आपका बैंक अकाउंट फ्रिज होगा इसमें काम करना बिलकुल सुरछित है इसमें कभी कभी आर्डर फ़ास्ट रहते हैं कभी कभी आर्डर स्लो रहते हैं जिस दिन आर्डर फाट और स्लो होंगे आपको नोटीस में दिखेगा.</li>
        </ul>
      </li>
      <li><strong>DIGITAL ACCOUNT:</strong>
        <ul>
          <li>इसके आपको 0.5 से 1% तक का प्रोफ़िट मिलेगा इसमें पेमेंट बहुत फ़ास्ट रहेगा हम प्रयास करेंगे की आपको 10 मिनट्स से 30 मिनट्स के अंदर पेमेंट आपके बैंक अकाउंट में क्रेडिट हो जाये आपको इससे भी फ़ास्ट पेमेंट चाहिये तो आप रिस्की अकाउंट की और जा सकते हैं </li>
          <li>इसमें आप पेमेंट 2 ट्रिक से प्राप्त कर सकते हैं अगर आपको पेमेंट अपने बैंक अकाउंट में नहीं चाहिये तो आप केवल डिजिटल वॉल्टे में ले सकते हैं और फिर उससे USDT ख़रीद सकते हैं बैंक अकाउंट में एक भी ट्रांशन नहीं होगा और अगर आपके डिजिटल वॉल्टे की लिमिट फ़ुल हो गई है तो आप पेमेंट अपनी UPI ID में भी ले सकते हैं इसमें आर्डर फ़ास्ट ही रहेंगे और आपको पेमेंट डिजिटल वॉल्टे से ही भेजा जायेगा 
         </li>
         <li>डिजिटल वॉल्टे 100% सेफ़ होता है इसमें आपका बैंक अकाउंट कभी भी फ्रिज नहीं होता है अगर आपको नहीं पता है डिजिटल वॉल्टे का कैसे इस्तमाल करे तो आप इसकी जानकारी यूट्यूब से ले सकते हैं</li>
        </ul>
      </li>
      <li><strong>RISKY ACCOUNT:</strong>
        <ul>
          <li>इसमें आपको 3 से 10% तक का प्रोफ़िट होगा इसमें पेमेंट सबसे फ़ास्ट होगा हम प्रयास करेंगे की आपको 10 मिनट्स में पेमेंट आपके बैंक अकाउंट में क्रेडिट हो इसमें गेम्स का पेमेंट आपके बैंक अकाउंट में क्रेडिट होगा जिससे आपका बैंक अकाउंट फ्रिज भी हो सकता है लेकिन इसमें 100% गेम का पैसा आयेगा तो एक बैंक अकाउंट 30 दिन तक इस्तमाल किया जा सकता है
          </li>
          <li>इसमें आप एक बार बैंक अकाउंट जोड़ने के बाद आप बैंक अकाउंट की जानकारी बदल सकते हैं </li>
          <li>अगर आपको पेमेंट नये बैंक अकाउंट में चाहिये तो पैसे इन्वेस्ट करने से पहले अपनी बैंक अकाउंट डेटेल्स चेंज करना होगा अगर आप बैंक अकाउंट चेंज करना भूल गये हैं और आपके पैसे इन्वेस्ट कर दिये हैं या आपके बैंक अकाउंट की लिमिट फ़ुल हो गई है कोई भी समस्या आये तो आप तुरंत कस्टमर suport से बात कीजिए आपको परेशान होने की ज़रूरत नहीं है आपकी समस्या का तुरंत समाधान किया जायेगा</li>
        </ul>
      </li>
    </ol>

    <h2>USDT क्या है :-</h2>
    <p>इसके लिये आपके पास USDT होना चाहिये अगर आपको नहीं पता USDT क्या है और काँहा से ख़रीदे तो इसके लिये आप यूट्यूब पे इसके बारे में सर्च कर सकते हैं USDT ख़रीदने के बहुत सारे प्लेटफ़ार्म हैं जैसे binance, houbi, kucoin, bitbyte etc.
</p>
<p>अगर आपसे किसी तरह की कोई गलती हो गई hai पैसे इन्वेट्स करते हुए या आपको कुछ समझ नहीं आ रहा है या आपको कोई हेल्प चाहिये तो आप तुरंत हमारे कस्टमर सपोर्ट से सम्परक कर सकते हैं </p>

    <h2>नोट्स:-</h2>
    <p>आप हर दिन इसमें काम करके कम से कम 5000 से 10 हज़ार कमा सकते हैं केवल 30 मिनट्स काम करके</p>
  </div>

   
 </section>
</body>
</html>