<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::page(~{::section})}">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>SignUp Page</title>
</head>
<body>
	<section>
		 <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Forget Password</h2>
                        <p class="text-center text-danger" th:text="${msg}"></p>
                        <form th:action="@{forgetPass}" method="post">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required="required">
                                <small id="emailHelp" class="form-text text-muted">We'll send a password reset link to this email.</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="/signin" class="text-decoration-none">Go to Login Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
</body>
</html>